[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.opendb.meta
*.VC.db.meta
*.unitypackage
*.apk
*.aab
*.zip
*.rar
*.7z
*.tar.gz
*.tar.bz2
*.tar
*.gz
*.bz2
*.xz
*.lz
*.lzma
*.lz4
*.z
*.Z
*.dmg
*.iso
*.img
*.vmdk
*.vdi
*.vhd
*.vhdx
*.qcow
*.qcow2
*.vpc
*.vhdmeta
*.vhdxmeta
*.vdi.meta
*.vmdk.meta
*.vpc.meta
*.qcow.meta
*.qcow2.meta
*.img.meta
*.iso.meta
*.dmg.meta
*.z.meta
*.Z.meta
*.gz.meta
*.bz2.meta
*.xz.meta
*.lz.meta
*.lzma.meta
*.lz4.meta
*.tar.gz.meta
*.tar.bz2.meta
*.tar.meta
*.7z.meta
*.rar.meta
*.zip.meta
*.aab.meta
*.apk.meta
*.unitypackage.meta
*.tmp.meta
*.user.meta
*.userprefs.meta
*.suo.meta
*.sln.meta
*.unityproj.meta
*.csproj.meta
*.booproj.meta
*.pidb.meta
*.svd.meta
*.VC.db.meta
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.opendb.meta
*.VC.db.meta
